<div class="container-fluid bar">
  <div class="topbar">
    <h3>Product Options</h3><br>
    <a href="/admin/create-product">Create</a>
    <a href="/admin/view-product">View</a>
    <a href="/admin/view-product">Edit</a>
    <a href="/admin/view-product">Delete</a>
  </div>
</div>
